### Nama      : Al Fiana Nur Priyanti <br> NIM         : 2109106022


# Posttest KB 4: Data Preprocessing 
### Import library pandas, numpy dan sklearn

In [94]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

###### Membaca file CSV

In [95]:
dataset_split = pd.read_csv("Breast_Cancer.csv")

###### Menampilkan informasi dataset

In [96]:
dataset_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Race                    4024 non-null   object
 2   Marital Status          4024 non-null   object
 3   T Stage                 4024 non-null   object
 4   N Stage                 4024 non-null   object
 5   6th Stage               4024 non-null   object
 6   differentiate           4024 non-null   object
 7   Grade                   4024 non-null   object
 8   A Stage                 4024 non-null   object
 9   Tumor Size              4024 non-null   int64
 10  Estrogen Status         4024 non-null   object
 11  Progesterone Status     4024 non-null   object
 12  Regional Node Examined  4024 non-null   int64
 13  Reginol Node Positive   4024 non-null   int64
 14  Survival Months         4024 non-null   int64
 15  Status                  4024 non-null   object
dtypes: int64(5), object(11)
memory usage: 503.1+ KB

In [97]:
dataset_split.head(10)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
5,51,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,18,2,89,Alive
6,51,White,Married,T1,N1,IIA,Well differentiated,1,Regional,8,Positive,Positive,11,1,54,Alive
7,40,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,9,1,14,Dead
8,40,White,Divorced,T4,N3,IIIC,Poorly differentiated,3,Regional,103,Positive,Positive,20,18,70,Alive
9,69,White,Married,T4,N3,IIIC,Well differentiated,1,Distant,32,Positive,Positive,21,12,92,Alive

## SPLIT DATASET
### 1. Membagi Dataset Menjadi Training Set dan Testing Set dengan Proporsi 70:30

test_size = 0.3 untuk mendefinisikan ukuran testing set <br>
karena pada ketentuan diminta 70% untuk training set dan 30% untuk testing set

In [98]:
X = dataset_split.iloc[:, :-1]
y = dataset_split.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [99]:
print("Dimensi X_Train: ", X_train.shape)
print("Dimensi X_Test: ", X_test.shape)
print("Dimensi y_Train: ", y_train.shape)
print("Dimensi y_Test: ", y_test.shape)

Dimensi X_Train:  (2816, 15)
Dimensi X_Test:  (1208, 15)
Dimensi y_Train:  (2816,)
Dimensi y_Test:  (1208,)

## DATA CLEANING

###### Membaca File Dataset yang Rusak (berisi nilai NULL atau nilai duplikat)

In [100]:
dataset_split = pd.read_csv("Breast_Cancer_Rusak.csv")
dataset_split.head(10)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4.0,Positive,Positive,24,1,60.0,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35.0,Positive,Positive,14,5,62.0,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,NaN,Positive,Positive,14,7,75.0,Alive
3,58,White,NaN,T1,N1,IIA,Poorly differentiated,3,Regional,NaN,Positive,Positive,2,1,84.0,Alive
4,47,White,NaN,T2,N1,IIB,Poorly differentiated,3,Regional,41.0,Positive,Positive,3,1,NaN,Alive
5,51,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,20.0,Positive,Positive,18,2,NaN,Alive
6,51,White,Married,T1,N1,IIA,Well differentiated,1,Regional,8.0,Positive,Positive,11,1,NaN,Alive
7,40,White,NaN,T2,N1,IIB,Moderately differentiated,2,Regional,NaN,Positive,Positive,9,1,NaN,Dead
8,40,White,NaN,T4,N3,IIIC,Poorly differentiated,3,Regional,103.0,Positive,Positive,20,18,70.0,Alive
9,69,White,NaN,T4,N3,IIIC,Well differentiated,1,Distant,32.0,Positive,Positive,21,12,92.0,Alive

### 2. Menangani Nilai NULL
.isna().sum() untuk melihat apakah dataset memiliki nilai NULL

In [101]:
dataset_split.isna().sum()

Age                         0
Race                        0
Marital Status             56
T Stage                     0
N Stage                     0
6th Stage                   0
differentiate               0
Grade                       0
A Stage                     0
Tumor Size                153
Estrogen Status             0
Progesterone Status         0
Regional Node Examined      0
Reginol Node Positive       0
Survival Months           147
Status                      0
dtype: int64

###### Untuk menangani nilai NULL pada dataset kita dapat menggunakan kelas SimpleImputer pada Scikit-Learn

In [110]:
from sklearn.impute import SimpleImputer

###### Mengubah nilai NULL yang ada dengan Strategy most_frequent (Modus)

In [111]:
imputer1 = SimpleImputer(strategy="most_frequent")
dataset_split["Marital Status"] = imputer1.fit_transform(dataset_split[["Marital Status"]])
dataset_split.isna().sum()

Age                         0
Race                        0
Marital Status              0
T Stage                     0
N Stage                     0
6th Stage                   0
differentiate               0
Grade                       0
A Stage                     0
Tumor Size                153
Estrogen Status             0
Progesterone Status         0
Regional Node Examined      0
Reginol Node Positive       0
Survival Months           147
Status                      0
dtype: int64

###### Mengubah nilai NULL yang ada dengan Strategy mean

In [112]:
imputer2 = SimpleImputer(strategy="mean")
dataset_split["Tumor Size"] = imputer2.fit_transform(dataset_split[["Tumor Size"]])
dataset_split.isna().sum()

Age                         0
Race                        0
Marital Status              0
T Stage                     0
N Stage                     0
6th Stage                   0
differentiate               0
Grade                       0
A Stage                     0
Tumor Size                  0
Estrogen Status             0
Progesterone Status         0
Regional Node Examined      0
Reginol Node Positive       0
Survival Months           147
Status                      0
dtype: int64

###### Mengubah nilai NULL yang ada dengan Strategy median

In [113]:
imputer3 = SimpleImputer(strategy="median")
dataset_split["Survival Months"] = imputer3.fit_transform(dataset_split[["Survival Months"]])
dataset_split.isna().sum()

Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

###### Nilai NULL Berhasil Ditangani

In [114]:
dataset_split.head(10)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4.000000,Positive,Positive,24,1,60.0,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35.000000,Positive,Positive,14,5,62.0,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,30.584862,Positive,Positive,14,7,75.0,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,30.584862,Positive,Positive,2,1,84.0,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41.000000,Positive,Positive,3,1,73.0,Alive
5,51,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,20.000000,Positive,Positive,18,2,73.0,Alive
6,51,White,Married,T1,N1,IIA,Well differentiated,1,Regional,8.000000,Positive,Positive,11,1,73.0,Alive
7,40,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30.584862,Positive,Positive,9,1,73.0,Dead
8,40,White,Married,T4,N3,IIIC,Poorly differentiated,3,Regional,103.000000,Positive,Positive,20,18,70.0,Alive
9,69,White,Married,T4,N3,IIIC,Well differentiated,1,Distant,32.000000,Positive,Positive,21,12,92.0,Alive

### 3. Menangani Nilai Duplikat
###### Mengecek Data dan Jumlah Nilai Duplikat

In [115]:
dataset_split[dataset_split.duplicated()]

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
894,47,White,Married,T3,N2,IIIA,Well differentiated,1,Regional,133.0,Positive,Positive,26,4,58.0,Alive
895,65,White,Married,T2,N1,IIB,Well differentiated,1,Regional,22.0,Positive,Positive,20,2,103.0,Alive
896,67,White,Married,T3,N2,IIIA,Poorly differentiated,3,Regional,55.0,Positive,Positive,9,9,4.0,Dead
921,47,White,Married,T3,N2,IIIA,Well differentiated,1,Regional,133.0,Positive,Positive,26,4,58.0,Alive
922,65,White,Married,T2,N1,IIB,Well differentiated,1,Regional,22.0,Positive,Positive,20,2,103.0,Alive
923,67,White,Married,T3,N2,IIIA,Poorly differentiated,3,Regional,55.0,Positive,Positive,9,9,4.0,Dead
2831,63,White,Single,T2,N1,IIB,Well differentiated,1,Regional,35.0,Positive,Positive,13,1,102.0,Alive
2832,60,White,Married,T3,N2,IIIA,Moderately differentiated,2,Regional,60.0,Positive,Positive,7,6,51.0,Alive
2833,49,White,Married,T2,N1,IIB,Well differentiated,1,Regional,22.0,Positive,Positive,9,3,85.0,Alive

In [116]:
dataset_split.duplicated().sum()

9

###### Menangani Nilai Duplikat dengan fungsi drop_duplicates(inplace=True)

In [117]:
dataset_split.drop_duplicates(inplace=True)

###### Nilai Duplikat Berhasil Ditangani

In [118]:
dataset_split[dataset_split.duplicated()]

Empty DataFrame
Columns: [Age, Race, Marital Status, T Stage , N Stage, 6th Stage, differentiate, Grade, A Stage, Tumor Size, Estrogen Status, Progesterone Status, Regional Node Examined, Reginol Node Positive, Survival Months, Status]
Index: []

In [119]:
dataset_split.duplicated().sum()

0

## DATA TRANSFORMING

Terdapat 5 atribut yang saya gunakan dalam Data Transforming yaitu Age, Tumor Size, Regional Node Examined, Reginol Node Positive, dan Survival Months.

### 4. Normalization

###### Untuk Transformasi Data Normalisasi perlu menggunakan kelas MinMaxScaler pada Scikit-Learn

In [137]:
from sklearn.preprocessing import MinMaxScaler

In [138]:
min_max_scaler = MinMaxScaler()

In [139]:
x_scaled = min_max_scaler.fit_transform(
    dataset_split[['Age','Tumor Size','Regional Node Examined',
                   'Reginol Node Positive','Survival Months']]
)

###### Proses normalisasi telah berhasil

In [140]:
data_normalization = pd.DataFrame(x_scaled)
data_normalization.head()

          0         1         2         3         4
0  0.974359  0.021583  0.383333  0.000000  0.552381
1  0.512821  0.244604  0.216667  0.088889  0.571429
2  0.717949  0.212841  0.216667  0.133333  0.695238
3  0.717949  0.212841  0.016667  0.000000  0.780952
4  0.435897  0.287770  0.033333  0.000000  0.676190

### 5. Standarization

np.std() untuk melihat nilai standar deviasi dari dataset.

In [142]:
np.std(dataset_split)

Age                        8.963527
Tumor Size                20.607831
Regional Node Examined     8.096189
Reginol Node Positive      5.099610
Survival Months           22.464203
dtype: float64

###### Untuk Transformasi Data Standarisasi perlu menggunakan kelas StandardScaler pada Scikit-Learn

In [143]:
from sklearn.preprocessing import StandardScaler

In [144]:
standard_scaler = StandardScaler()

In [145]:
x_scaled2 = standard_scaler.fit_transform(
    dataset_split[['Age','Tumor Size','Regional Node Examined',
                   'Reginol Node Positive','Survival Months']]
)

###### Proses standarisasi telah berhasil

In [146]:
data_standarization = pd.DataFrame(x_scaled2)
data_standarization.head()

          0         1         2         3         4
0  1.565220 -1.286874  1.190542 -0.618415 -0.504214
1 -0.442919  0.217409 -0.044607  0.165959 -0.415184
2  0.449587  0.003163 -0.044607  0.558146  0.163515
3  0.449587  0.003163 -1.526786 -0.618415  0.564152
4 -0.777608  0.508560 -1.403271 -0.618415  0.074484

In [147]:
np.std(x_scaled2)

1.0

In [148]:
np.mean(x_scaled2)

-1.613984993806255e-16

### 6. Mengubah Tipe Data Atribut Angka

###### Sebelum mengubah tipe data, baca file csv untuk melihat tipe data sebelum diubah dengan fungsi .dtypes

In [149]:
angka = pd.read_csv("Breast_Cancer.csv")

In [150]:
angka["Tumor Size"].dtypes

dtype('int64')

###### Mengubah atribut bertipe data angka menjadi object menggunakan fungsi .astype(object)

In [151]:
tipe_baru = angka[["Tumor Size"]].astype("object")
tipe_baru["Tumor Size"].dtypes

dtype('O')

###### Tipe data telah berubah

In [152]:
tipe_baru.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tumor Size  4024 non-null   object
dtypes: object(1)
memory usage: 31.6+ KB

## ENCODING
### 7. One Hot Encoding

In [153]:
data_encoding = pd.read_csv("Breast_Cancer.csv")

###### Menerapkan One-Hot Encoding menggunakan kelas OneHotEncoder dari Scikit-Learn

Disini saya menggunakan atribut 'Marital Status'

In [154]:
from sklearn.preprocessing import OneHotEncoder

In [155]:
onehotencoder = OneHotEncoder(sparse=False)

In [156]:
Marital_Status_encoder = onehotencoder.fit_transform(data_encoding[['Marital Status']])

In [157]:
Marital_Status = pd.DataFrame(Marital_Status_encoder)
data_encoding = data_encoding.join(Marital_Status)

In [158]:
data_encoding.head(10)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,...,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status,0,1,2,3,4
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,...,Positive,24,1,60,Alive,0.0,1.0,0.0,0.0,0.0
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,...,Positive,14,5,62,Alive,0.0,1.0,0.0,0.0,0.0
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,...,Positive,14,7,75,Alive,1.0,0.0,0.0,0.0,0.0
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,...,Positive,2,1,84,Alive,0.0,1.0,0.0,0.0,0.0
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,...,Positive,3,1,50,Alive,0.0,1.0,0.0,0.0,0.0
5,51,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,20,...,Positive,18,2,89,Alive,0.0,0.0,0.0,1.0,0.0
6,51,White,Married,T1,N1,IIA,Well differentiated,1,Regional,8,...,Positive,11,1,54,Alive,0.0,1.0,0.0,0.0,0.0
7,40,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,...,Positive,9,1,14,Dead,0.0,1.0,0.0,0.0,0.0
8,40,White,Divorced,T4,N3,IIIC,Poorly differentiated,3,Regional,103,...,Positive,20,18,70,Alive,1.0,0.0,0.0,0.0,0.0
9,69,White,Married,T4,N3,IIIC,Well differentiated,1,Distant,32,...,Positive,21,12,92,Alive,0.0,1.0,0.0,0.0,0.0

###### Menerapkan One-Hot Encoding menggunakan get_dummies dari Pandas

Disini saya menggunakan atribut 'Status'

In [159]:
Status_encoder = pd.get_dummies(data_encoding[['Status']])

In [160]:
Status = pd.DataFrame(Status_encoder)
data_encoding = data_encoding.join(Status)

In [161]:
data_encoding.head(10)

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,...,Reginol Node Positive,Survival Months,Status,0,1,2,3,4,Status_Alive,Status_Dead
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,...,1,60,Alive,0.0,1.0,0.0,0.0,0.0,1,0
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,...,5,62,Alive,0.0,1.0,0.0,0.0,0.0,1,0
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,...,7,75,Alive,1.0,0.0,0.0,0.0,0.0,1,0
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,...,1,84,Alive,0.0,1.0,0.0,0.0,0.0,1,0
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,...,1,50,Alive,0.0,1.0,0.0,0.0,0.0,1,0
5,51,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,20,...,2,89,Alive,0.0,0.0,0.0,1.0,0.0,1,0
6,51,White,Married,T1,N1,IIA,Well differentiated,1,Regional,8,...,1,54,Alive,0.0,1.0,0.0,0.0,0.0,1,0
7,40,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,...,1,14,Dead,0.0,1.0,0.0,0.0,0.0,0,1
8,40,White,Divorced,T4,N3,IIIC,Poorly differentiated,3,Regional,103,...,18,70,Alive,1.0,0.0,0.0,0.0,0.0,1,0
9,69,White,Married,T4,N3,IIIC,Well differentiated,1,Distant,32,...,12,92,Alive,0.0,1.0,0.0,0.0,0.0,1,0